<template>
  <div class="review-card_container" v-loading="loading || reviewLoading">
    <el-card shadow="always">
      <div class="review-card-data" :style="{ width, height }">
        <p v-if="!editMode" v-html="review.review"></p>
        <el-input class="review-card-text-input" v-else type="textarea" v-model="editableText">
        </el-input>
      </div>
      <div class="review-card-action">
        <el-button
          v-if="!editMode"
          type="info"
          plain
          icon="el-icon-edit"
          @click="clickEditHandler"
        >Edit</el-button>
        <el-button
          v-if="editMode"
          type="success"
          plain
          icon="el-icon-check"
          @click="submitSave"
        >Save</el-button>
        <el-button
          v-if="editMode"
          type="info"
          plain
          icon="el-icon-close"
          @click="cancelHandler"
        >Cancel</el-button>
      </div>
    </el-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';

export default Vue.extend({
  name: 'ReviewCard',
  props: {
    review: Object,
    width: String,
    height: String,
    edited: Boolean,
  },
  data: () => ({
    editMode: false,
    editableText: '',
    loading: false,
  }),
  computed: {
    ...mapGetters({
      reviewLoading: 'review/getLoading',
    }),
  },
  methods: {
    ...mapActions({
      updateReviewByID: 'review/updateReviewByID',
    }),
    clickEditHandler() {
      this.$router.push({ path: `reviews/${this.review.reviewID}` });
    },
    submitSave() {
      const newData = { ...this.review, review: this.editableText };
      this.loading = true;
      this.updateReviewByID({ id: this.review.reviewID, data: newData }).then(() => {
        setTimeout(() => {
          this.loading = false;
          this.$router.go(-1);
        }, 1000);
      });
    },
    setEditableText(text: string) {
      this.editableText = text;
    },
    cancelHandler() {
      this.$router.go(-1);
    },
  },
  mounted() {
    this.editMode = this.edited;
    this.editableText = this.review.review;
  },
  watch: {
    review(val) {
      this.editableText = val.review;
    },
  },
});
</script>

<style scoped>
 .review-card_container {
   margin-bottom: 10px;
 }
 .review-card-data {
   width: 500px;
   height: 100px;
 }
 .review-card-text-input {
   height: 100%
 }
 .review-card-text-input >>> .el-textarea__inner {
   height: 100%;
 }
 .review-card-action {
   border-top: 1px solid #7d7d7d;
   display: flex;
   height: 30px;
   justify-content: center;
   align-items: center;
   padding-top: 20px;
   margin-top: 10px;
 }
  p >>> keyword {
    background-color: yellow;
  }
</style>
