<template>
  <div class="edit-review-container">
    <div class="edit-review-header">
      <h1>Editing Review</h1>
    </div>
    <div class="edit-review-content">
      <review-card
        :review="review"
        width="1000px"
        height="500px"
        :edited=true
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import ReviewCard from '@/components/ReviewCard.vue'; // @ is an alias to /src

export default Vue.extend({
  name: 'review',
  components: {
    ReviewCard,
  },
  data: () => ({
    review: {},
  }),
  computed: {
    ...mapGetters({
      reviewActive: 'review/getReview',
    }),
  },
  methods: {
    ...mapActions({
      fetchReviewByID: 'review/fetchReviewByID',
    }),
  },
  mounted() {
    const { id } = this.$route.params;
    this.fetchReviewByID(id);
  },
  watch: {
    reviewActive(val) {
      this.review = { ...val };
    },
  },
});
</script>

<style scoped>
  .edit-review-container {
    margin: 0 50px;
  }
  .edit-review-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
</style>
