<template>
  <div class="home">
    <div class="home-header">
      <img alt="Vue logo" src="../assets/logo.png">
    </div>
    <div class="home-content">
      <el-card shadow="always">
        <p>Go to Review Page</p>
        <el-button
          type="primary"
          plain
          icon="el-icon-edit"
          @click="clickEditHandler"
        >Review Page</el-button>
      </el-card>
    </div>
  </div>
</template>

<script lang="ts">
import router from '@/router';
import Vue from 'vue';

export default Vue.extend({
  name: 'home',
  methods: {
    clickEditHandler() {
      router.push({ path: 'reviews' });
    },
  },
});
</script>

<style scoped>
  .home {
    margin: 20px 50px;
  }
  .home-content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .el-card {
    width: 500px;
  }
</style>
