<template>
  <div class="review">
    <div class="review-content" v-loading="loading">
      <div class="review-input-zone">
        <el-input
          placeholder="Type something (Press Enter)"
          @keyup.enter.native="searchReview"
          v-model="searchKeyword">
          <i slot="prefix" class="el-input__icon el-icon-search"></i>
          <el-button slot="append" icon="el-icon-search" @click="searchReview"></el-button>
        </el-input>
      </div>
      <div class="review-card_list" v-if="reviews.length>0">
        <review-card
          v-for="review in reviews"
          :key="review.reviewID"
          :review="review"
        />
      </div>
      <div class="review-card_list v-center" v-else>
        No data
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import ReviewCard from '@/components/ReviewCard.vue'; // @ is an alias to /src

export default Vue.extend({
  name: 'review',
  components: {
    ReviewCard,
  },
  data: () => ({
    searchKeyword: '',
  }),
  computed: {
    ...mapGetters({
      reviews: 'review/getReviews',
      loading: 'review/getLoading',
    }),
  },
  methods: {
    ...mapActions({
      fetchReviewByQuery: 'review/fetchReviewsByQuery',
      clearReviews: 'review/clearReviews',
    }),
    searchReview() {
      this.$router.replace({ path: 'reviews', query: { query: this.searchKeyword } }).catch(() => {});
      if (this.searchKeyword) {
        this.fetchReviewByQuery(this.searchKeyword);
      }
    },
    setKeyword(keyword: any) {
      this.searchKeyword = keyword;
    },
  },
  mounted() {
    this.clearReviews();
    const { query } = this.$route.query;
    if (query) {
      this.setKeyword(query);
      this.fetchReviewByQuery(query);
    }
  },
});
</script>

<style scoped>
  .review {
    padding: 0 50px;
    height: 90%;
  }
  .review-content {
    height: 100%;
    margin-top: 20px;
  }
  .review-input-zone {
    margin: auto;
    width: 80%;
    height: 40px;
  }
  .review-card_list {
    border-radius: 5px;
    border: 1px solid #dedede;
    padding: 15px;
    height: 90%;
    overflow-y: auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .v-center {
    justify-content: center;
  }
</style>
